*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: #f4f4f4;
}

.loader {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }

  90% {
    color: #484848;
    text-shadow: none;
  }

  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}

.letter:nth-child(1) {
  animation-delay: 0.1s;
}

.letter:nth-child(2) {
  animation-delay: 0.2s;
}

.letter:nth-child(3) {
  animation-delay: 0.3s;
}

.letter:nth-child(4) {
  animation-delay: 0.4s;
}
.letter:nth-child(5) {
  animation-delay: 0.5s;
}

.letter:nth-child(6) {
  animation-delay: 0.6s;
}

.letter:nth-child(7) {
  animation-delay: 0.7s;
}

.letter:nth-child(8) {
  animation-delay: 0.8s;
}

.letter:nth-child(9) {
  animation-delay: 0.9s;
}

.letter:nth-child(10) {
  animation-delay: 1s;
}

.foudu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

nav {
  /* position: fixed; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  background: #fafafa;
  box-shadow: inset 0px -1px 0px #c5c5c6;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 60px;
}

.nav-icon span {
  font-family: Roboto Flex, sans-serif;
  font-size: 25px;
  margin-left: 20px;
  font-weight: 100;
  text-decoration: none;
  color: #408080;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.nav-icon img {
  width: 40px;
  transform: rotate(-10deg) translateX(5px);
}

.hamburger {
  display: none;
}

.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  text-decoration: none;
  color: #414141;
  display: inline-block;
  position: relative;
  font-weight: 400;
  letter-spacing: -1px;
}

.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: #333;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1)
}

.nav-authentication {
  margin-left: auto;
}

.sign-btns button {
  font-family: Roboto Flex, sans-serif;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none; 
  color: #FFFFFF;
}

.sign-btns button:nth-child(1) {
  border: none;
  background: #408080;
}

.contact {
  display: none;
}

.section-tag {
  height: 400px;
  background-color: rgb(64, 128, 128);
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
}

.section-tag p {
  width: 100%;
  align-self: flex-end;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  color: #408080;
  font-weight: 500;
}

.section-about, .section-service, .section-education, .section-contact, .section-shop, footer {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1024px;
}

.container-about, .container-service, .container-education, .container-contact, .section-shop, .container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-about h2, .container-service h2, .container-education h2, .container-contact h2, .section-shop h2 {
  font-family: Roboto Flex, sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.container-about h2, .section-shop h2 {
  color: #408080;
}

.container-about i, .section-shop i {
  margin-right: 5px;
}

.container-about p, .section-shop p {
  color: #777777;
}

.section-service {
  background-color:rgb(64, 128, 128);
}

.container-service h2 {
  color: #FFFFFF;
}

.container-service i {
  margin-left: 5px;
}

.service-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.service-card {
  width: 400px;
  height: 200px;
  text-align: left;
  background-color: rgb(225, 225, 225);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
  margin-bottom: 30px;
}

.service-card h3 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: Roboto Flex, sans-serif;
  color: #0f4242;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.service-card ul {
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
}

.service-card li {
  color:rgb(64, 128, 128);
}

.section-education {
  background-color: rgb(224, 223, 223);
}

.container-education {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.education-card {
  width: 45%;
}

.education-card h2 {
  padding: 10px;
  background-color:rgb(64, 128, 128);
  color: #FFFFFF;
}

.education-card p {
  color:#777777;
}

.container-contact h2 {
  color: #408080;
}

.contact-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-map iframe {
  width: 640px;
  height:480px;
}

.contact-info {
  width: 30%;
  font-size: 18px;
  color: #aab1bf;
}

.contact-info ul {
  list-style-type: none;
}

.contact-info li {
  margin-bottom: 30px;
}

.contact-info p {
  line-height: 30px;
}

.container-shop form {
  margin: 30px 0 0 0;
}

.container-shop select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container-item {
  margin-top: 30px;
}

.container-item h3 {
  color: #ee8c1c;
  font-family: Roboto Flex, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #ee8c1c;
}

.container-item ul {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-item li {
  list-style-type: none;
}

.card-item {
  position: relative;
  background: #FFF;
  width: 300px;
  height: 350px;
  margin: 30px 0 0 0;
  border: 1px solid #dddcdc;
  transition: 0.3s;
  -webkit-transition:border-color 0.5s ease;  
  -moz-transition:border-color 0.5s ease;      
  -o-transition:border-color 0.5s ease;                  
  transition:border-color 0.5s ease;
}

.card-item:hover {
  box-shadow: 0px 4px 27px -10px rgba(0, 0, 0, 0.25);
  
}

.card-img {
  width: 100%;
  height: 50%;
  margin: 0 0 20px 0;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  margin: 15px 0 15px 0;
}

.card-title p {
  color: #ee8c1c;
  text-align: center;
  font-size: 18px;
}

.card-desc p {
  font-size: 15px;
  text-align: center;
  text-transform: none;
}

.card-price {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
}

.card-price p {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(37, 172, 59);
  background-color:rgb(215, 240, 219);
}

footer {
  width: 100%;
  background-color: #373A42;
  padding: 50px 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.container-footer a {
  color: rgba(255, 255, 255, 0.8);
}



.separate {
  width: 80%;
  height: 1px;
  margin: 0px auto;
}